// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: rgb(50, 177, 189);
$yellow: #FDB631;
$orange: rgb(239, 203, 65);
$green: #32B796;
$gray: rgb(200, 200, 200);
$light-gray: rgb(220, 220, 220);
